apache-airflow-providers-google
dbt-bigquery
apache-airflow-providers-airbyte
astronomer-cosmos==1.4.0a1 # https://github.com/astronomer/astronomer-cosmos/issues/897
acryl-datahub-airflow-plugin[plugin-v2]
apache-airflow-providers-openlineage
